pre {
  margin: 3px 0px;
  padding: 5px;
  background-color: #dedede;
  white-space: pre-wrap;
}

.external-link-icon {
  font-size: 8px;
}

.section-tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px 3px 2px 3px;
  display: inline-block;
}

.p-value {
  word-break: break-word;
}

.toggle-header {
  padding-top: 3px;
  margin-bottom: 7px;
}

.text-container {
  background-color: #eee;
  margin-bottom: 2px;
  padding: 5px;
  overflow-wrap: break-word;
  margin-top: 5px;
  white-space: pre-wrap;
}

.p-title {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
}

.retry-btn {
  height: 25px;
  padding: 5px;
  width: 125px;
  font-weight: 500;
}

.alert {
  margin-bottom: 0;
}
